<!-- <mat-card class="modelingCard" appearance="outlined"> -->
  <mat-stepper class="modelingCard" [linear]="false" #stepper>


    <mat-step label="Observation Transition Function Input">

      <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title> Assisting the building of an observation transition function </mat-panel-title>
          </mat-expansion-panel-header>

          <ul>
            <li>If users already have a custom <mat-chip>Observation Transition Function Model</mat-chip>, it can be
              taken as an input.</li>
            <li>Else, it generates a environment observation transition function based on traces (compliant with
              <mat-chip color="accent" matTooltip="A set of compliant environment traces"
                (click)="openLink('https://www.google.com')" class="clickable-chip">CybMASDE traces format</mat-chip>)
              of agents interacting with the real/emulated environments.
              <ul>
                <li>If users already have a representative set of <mat-chip>Environment Traces</mat-chip>, then it can
                  be taken as an input.</li>
                <li>Else, agents can be deployed on the environment to generates traces for a sufficient period.
                  <ul>
                    <li>If users can adapt their emulated/real environment to the <mat-chip color="accent"
                        matTooltip="A proposed API for monitoring the deployment, updating, removal of agents and interacting externally with them"
                        (click)="openLink('https://www.google.com')" class="clickable-chip">CybMASDE Monitoring
                        API</mat-chip>, then the root <mat-chip>Environment API URL</mat-chip> can be taken as an input.
                    </li>
                    <li>Else, compliant <mat-chip color="accent"
                        matTooltip="Agents designed to explore their environment and collect traces when deployed in an environment"
                        (click)="openLink('https://www.google.com')" class="clickable-chip">Exploratory
                        Agents</mat-chip> can be designed and deployed manually to collect traces to be retrieved
                      afterward.</li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>

        </mat-expansion-panel>
      </mat-accordion>

      <mat-form-field>
        <mat-label>Environment input</mat-label>
        <mat-select [(ngModel)]="selectedEnvironmentInput">
          <mat-option *ngFor="let option of modelingInput['environmentInput'] | keyvalue" [value]="option.key">
            {{ $any(option.value)['fullName'] }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div *ngIf="selectedEnvironmentInput=='environmentApi'">
        <mat-form-field>
          <mat-label>Environment control API</mat-label>
          <input matInput [(ngModel)]="modelingInput['environmentInput']['environmentApi']['content']" />
        </mat-form-field>
        <div class="apiForm">
          <mat-icon matTooltip="A compliant environment API to control explorer agents." aria-hidden="false"
            aria-label="Help icon" fontIcon="help"></mat-icon>
          <button mat-raised-button class="proceed-button" color="primary"
            (click)="uploadFile('environmentInput', 'environmentApi')"
            [disabled]="modelingInput['environmentInput']['environmentApi']['content']==''">Proceeed
            to Observation Transition Function Reconstruction</button>
        </div>
      </div>

      <div class="inputFileAndOverview" *ngIf="selectedEnvironmentInput=='environmentTraces'">

        <mat-accordion multi>
          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{modelingInput['environmentInput']['environmentTraces']['fullName']}}
                <mat-icon matTooltip="A set of compliant environment traces" aria-hidden="false" aria-label="Help icon"
                  fontIcon="help"></mat-icon>
              </mat-panel-title>

              <div>
                <input type="file" #fileInput (change)="onFileSelected($event, 'environmentInput', 'environmentTraces')"
                  style="display: none;">
                <button mat-raised-button color="primary" (click)="fileInput.click()">Choose a file</button>
              </div>

            </mat-expansion-panel-header>

            <ngx-monaco-editor [options]="editorOptions"
              [(ngModel)]="modelingInput['environmentInput']['environmentTraces']['content']"></ngx-monaco-editor>

          </mat-expansion-panel>
        </mat-accordion>

        <button mat-raised-button class="proceed-button" color="primary"
          (click)="uploadFile('environmentInput', 'environmentTraces')"
          [disabled]="modelingInput['environmentInput']['environmentTraces']['content']==''">Proceeed
          to Observation Transition Function Reconstruction</button>
      </div>

      <div *ngIf="selectedEnvironmentInput=='environmentModel'">

        <mat-accordion multi>
          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{modelingInput['environmentInput']['environmentModel']['fullName']}}
                <mat-icon matTooltip="A compliant Observation Transition Function Model" aria-hidden="false"
                  aria-label="Help icon" fontIcon="help"></mat-icon>
              </mat-panel-title>

              <div>
                <input type="file" #fileInput (change)="onFileSelected($event, 'environmentInput', 'environmentModel')"
                  style="display: none;">
                <button mat-raised-button color="primary" (click)="fileInput.click()">Choose a file</button>
              </div>

            </mat-expansion-panel-header>

            <ngx-monaco-editor [options]="editorOptions"
              [(ngModel)]="modelingInput['environmentInput']['environmentModel']['content']"></ngx-monaco-editor>

          </mat-expansion-panel>
        </mat-accordion>

        <button mat-raised-button class="proceed-button" color="primary"
          (click)="uploadFile('environmentInput', 'environmentModel')"
          [disabled]="modelingInput['environmentInput']['environmentModel']['content']==''">Proceeed to
          Observation Transition Function Reconstruction</button>
      </div>

    </mat-step>



    <mat-step label="Reward Function Input">
      <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title> Assisting the building of an observation reward function from several </mat-panel-title>
          </mat-expansion-panel-header>

          <ul>
            <li>If users already have a custom <mat-chip>Observation Transition Function Model</mat-chip>, it can be
              taken as an input.</li>
            <li>Else, it generates a environment observation transition function based on traces (compliant with
              <mat-chip color="accent" matTooltip="A set of compliant environment traces"
                (click)="openLink('https://www.google.com')" class="clickable-chip">CybMASDE traces format</mat-chip>)
              of agents interacting with the real/emulated environments.
              <ul>
                <li>If users already have a representative set of <mat-chip>Environment Traces</mat-chip>, then it can
                  be taken as an input.</li>
                <li>Else, agents can be deployed on the environment to generates traces for a sufficient period.
                  <ul>
                    <li>If users can adapt their emulated/real environment to the <mat-chip color="accent"
                        matTooltip="A proposed API for monitoring the deployment, updating, removal of agents and interacting externally with them"
                        (click)="openLink('https://www.google.com')" class="clickable-chip">CybMASDE Monitoring
                        API</mat-chip>, then the root <mat-chip>Environment API URL</mat-chip> can be taken as an input.
                    </li>
                    <li>Else, compliant <mat-chip color="accent"
                        matTooltip="Agents designed to explore their environment and collect traces when deployed in an environment"
                        (click)="openLink('https://www.google.com')" class="clickable-chip">Exploratory
                        Agents</mat-chip> can be designed and deployed manually to collect traces to be retrieved
                      afterward.</li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>

        </mat-expansion-panel>
      </mat-accordion>



      <mat-form-field>
        <mat-label>Goal input</mat-label>
        <mat-select [(ngModel)]="selectedGoalInput">
          <mat-option *ngFor="let option of modelingInput['goalInput'] | keyvalue" [value]="option.key">
            {{ $any(option.value)['fullName'] }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div *ngIf="selectedGoalInput=='goalText'">
        <mat-accordion multi>
          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{modelingInput['goalInput']['goalText']['fullName']}}
                <mat-icon matTooltip="A compliant Goal Text" aria-hidden="false"
                  aria-label="Help icon" fontIcon="help"></mat-icon>
              </mat-panel-title>

              <div>
                <input type="file" #fileInput (change)="onFileSelected($event, 'goalInput', 'goalText')"
                  style="display: none;">
                <button mat-raised-button color="primary" (click)="fileInput.click()">Choose a file</button>
              </div>

            </mat-expansion-panel-header>

            <ngx-monaco-editor [options]="editorOptions"
              [(ngModel)]="modelingInput['goalInput']['goalText']['content']"></ngx-monaco-editor>

          </mat-expansion-panel>
        </mat-accordion>

        <button mat-raised-button class="proceed-button" color="primary" (click)="uploadFile('goalInput', 'goalText')"
          [disabled]="modelingInput['goalInput']['goalText']['content']==''">Proceeed to Goal
          Reconstruction</button>
      </div>

      <div *ngIf="selectedGoalInput=='goalStates'">
        <mat-accordion multi>
          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{modelingInput['goalInput']['goalStates']['fullName']}}
                <mat-icon matTooltip="A compliant set of Sought States" aria-hidden="false"
                  aria-label="Help icon" fontIcon="help"></mat-icon>
              </mat-panel-title>

              <div>
                <input type="file" #fileInput (change)="onFileSelected($event, 'goalInput', 'goalStates')"
                  style="display: none;">
                <button mat-raised-button color="primary" (click)="fileInput.click()">Choose a file</button>
              </div>

            </mat-expansion-panel-header>

            <ngx-monaco-editor [options]="editorOptions"
              [(ngModel)]="modelingInput['goalInput']['goalStates']['content']"></ngx-monaco-editor>

          </mat-expansion-panel>
        </mat-accordion>

        <button mat-raised-button class="proceed-button" color="primary" (click)="uploadFile('goalInput', 'goalStates')"
          [disabled]="modelingInput['goalInput']['goalStates']['content']==''">Proceeed to Goal
          Reconstruction</button>
      </div>

      <div *ngIf="selectedGoalInput=='goalModel'">
        <mat-accordion multi>
          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{modelingInput['goalInput']['goalModel']['fullName']}}
                <mat-icon matTooltip="A compliant Reward Function Model" aria-hidden="false"
                  aria-label="Help icon" fontIcon="help"></mat-icon>
              </mat-panel-title>

              <div>
                <input type="file" #fileInput (change)="onFileSelected($event, 'goalInput', 'goalModel')"
                  style="display: none;">
                <button mat-raised-button color="primary" (click)="fileInput.click()">Choose a file</button>
              </div>

            </mat-expansion-panel-header>

            <ngx-monaco-editor [options]="editorOptions"
              [(ngModel)]="modelingInput['goalInput']['goalModel']['content']"></ngx-monaco-editor>

          </mat-expansion-panel>
        </mat-accordion>

        <button mat-raised-button class="proceed-button" color="primary" (click)="uploadFile('goalInput', 'goalModel')"
          [disabled]="modelingInput['goalInput']['goalModel']['content']==''">Proceeed to Goal
          Reconstruction</button>
      </div>

    </mat-step>

    <mat-step label="Constraints Model Input">

      <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title> Assisting the building of an Constraint Model </mat-panel-title>
          </mat-expansion-panel-header>

          <ul>
            <li>If users already have a custom <mat-chip>Observation Transition Function Model</mat-chip>, it can be
              taken as an input.</li>
            <li>Else, it generates a environment observation transition function based on traces (compliant with
              <mat-chip color="accent" matTooltip="A set of compliant environment traces"
                (click)="openLink('https://www.google.com')" class="clickable-chip">CybMASDE traces format</mat-chip>)
              of agents interacting with the real/emulated environments.
              <ul>
                <li>If users already have a representative set of <mat-chip>Environment Traces</mat-chip>, then it can
                  be taken as an input.</li>
                <li>Else, agents can be deployed on the environment to generates traces for a sufficient period.
                  <ul>
                    <li>If users can adapt their emulated/real environment to the <mat-chip color="accent"
                        matTooltip="A proposed API for monitoring the deployment, updating, removal of agents and interacting externally with them"
                        (click)="openLink('https://www.google.com')" class="clickable-chip">CybMASDE Monitoring
                        API</mat-chip>, then the root <mat-chip>Environment API URL</mat-chip> can be taken as an input.
                    </li>
                    <li>Else, compliant <mat-chip color="accent"
                        matTooltip="Agents designed to explore their environment and collect traces when deployed in an environment"
                        (click)="openLink('https://www.google.com')" class="clickable-chip">Exploratory
                        Agents</mat-chip> can be designed and deployed manually to collect traces to be retrieved
                      afterward.</li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>

        </mat-expansion-panel>
      </mat-accordion>


      <mat-form-field>
        <mat-label>Constraint input</mat-label>
        <mat-select [(ngModel)]="selectedConstraintInput">
          <mat-option *ngFor="let option of modelingInput['constraintInput'] | keyvalue" [value]="option.key">
            {{ $any(option.value)['fullName'] }}
          </mat-option>
        </mat-select>
      </mat-form-field>



      <div *ngIf="selectedConstraintInput=='constraintText'">
        <mat-accordion multi>
          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{modelingInput['constraintInput']['constraintText']['fullName']}}
                <mat-icon matTooltip="A textual description of the constraints (alpha)" aria-hidden="false"
                  aria-label="Help icon" fontIcon="help"></mat-icon>
              </mat-panel-title>

              <div>
                <input type="file" #fileInput (change)="onFileSelected($event, 'constraintInput', 'constraintText')"
                  style="display: none;">
                <button mat-raised-button color="primary" (click)="fileInput.click()">Choose a file</button>
              </div>

            </mat-expansion-panel-header>

            <ngx-monaco-editor [options]="editorOptions"
              [(ngModel)]="modelingInput['constraintInput']['constraintText']['content']"></ngx-monaco-editor>

          </mat-expansion-panel>
        </mat-accordion>

        <button mat-raised-button class="proceed-button" color="primary"
          (click)="uploadFile('constraintInput', 'constraintText')"
          [disabled]="modelingInput['constraintInput']['constraintText']['content']==''">Proceeed to
          Constraint Model Reconstruction</button>
      </div>


      <div *ngIf="selectedConstraintInput=='constraintModel'">
        <mat-accordion multi>
          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{modelingInput['constraintInput']['constraintModel']['fullName']}}
                <mat-icon matTooltip="A compliant Constraint Model" aria-hidden="false" aria-label="Help icon"
                  fontIcon="help"></mat-icon>
              </mat-panel-title>

              <div>
                <input type="file" #fileInput (change)="onFileSelected($event, 'constraintInput', 'constraintModel')"
                  style="display: none;">
                <button mat-raised-button color="primary" (click)="fileInput.click()">Choose a file</button>
              </div>

            </mat-expansion-panel-header>

            <ngx-monaco-editor [options]="editorOptions"
              [(ngModel)]="modelingInput['constraintInput']['constraintModel']['content']"></ngx-monaco-editor>

          </mat-expansion-panel>
        </mat-accordion>

        <button mat-raised-button class="proceed-button" color="primary"
          (click)="uploadFile('constraintInput', 'constraintModel')"
          [disabled]="modelingInput['constraintInput']['constraintModel']['content']==''">Proceeed to
          Constraint Model Reconstruction</button>
      </div>

    </mat-step>

    <mat-step label="Assembling">
      Assembling the observation transition function, the reward function, and the constraints model into a MM-Problem.
    </mat-step>

    <mat-step label="Problem Model Output">
      <mat-card appearance="outlined">
        <mat-card-content>Constraint text overview</mat-card-content>
      </mat-card>
      <ngx-monaco-editor [options]="editorOptions" [(ngModel)]="outputEnvironmentModel"></ngx-monaco-editor>
    </mat-step>

  </mat-stepper>

<!-- </mat-card> -->