cmake==3.25.0
hanabi-learning-environment==0.0.4
gymnasium
mpld3
Flask
Flask-Cors
Werkzeug
pytest
pyyaml
numpy
gym==0.25.2
prettytable
docutils
pettingzoo
networkx
matplotlib
paramiko
pygame
tensorflow
torch
pyinstaller
scikit-learn
optuna
pymunk
torchvision
scikit-image
pipreqs
marllib
SuperSuit
pettingzoo[classic,butterfly]
tensorboard