:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  /* height: 100%; */
  overflow: hidden;
}

mat-toolbar {
  /* Change la couleur de la barre d'outils */
  background: #3f51b5;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 48px;
  display: flex;
  justify-content: flex-start;
  color: white
}

button[mat-button] {
  color: white;
  /* Change la couleur du texte des boutons */
}

.menubar {

  /* Survol des boutons */
  button:hover {
    background-color: #757de8;
    /* Couleur de fond lors du survol */
    color: #fff;
    /* Couleur du texte lors du survol */
  }

  flex-shrink: 0;

}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* height: 100%; */
  overflow-y: auto;
}

:host {
  /* display: block; */
  display: flex;
  flex-direction: column;
  height: 100vh;
}

app-home {
  display: block;
  width: 100%;
  /* height: 100%; */
}

.menubar {
  flex-shrink: 0;
}

app-home,
app-activities {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}