html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    /* width: 100%; */
    /* overflow-y: auto; */
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    min-width: 500px;
}

::ng-deep .mat-tooltip {
    white-space: pre-line !important;
}