<mat-card appearance="outlined">
  <mat-stepper [linear]="false" #stepper>

    <mat-step label="Input">
      <mat-card appearance="outlined">
        <mat-card-content>Simulation model</mat-card-content>
      </mat-card>
      <input type="file" #fileInput (change)="onFileSelected($event)" style="display: none;">
      <button mat-raised-button color="primary" (click)="fileInput.click()">Choose a file</button>
      <mat-icon matTooltip="A compliant simulation model" aria-hidden="false" aria-label="Help icon"
        fontIcon="help"></mat-icon>

      <mat-card appearance="outlined">
        <mat-card-content>Algorithms to include</mat-card-content>
      </mat-card>
      <section class="example-section">
        <span class="example-list-section">
          <mat-checkbox class="example-margin" [checked]="algorithm().completed" [indeterminate]="partiallyComplete()"
            (change)="update($event.checked)">
            {{algorithm().name}}
          </mat-checkbox>
        </span>
        <span class="example-list-section">
          <ul>
            @for (subalgorithm of algorithm().subalgorithms; track subalgorithm; let i = $index) {
            <li>

              <span class="example-list-section">
                <mat-checkbox [checked]="subalgorithm.completed" (change)="update($event.checked, i)">
                  {{subalgorithm.name}}
                </mat-checkbox>
                <mat-icon matTooltipClass="customMatToolTip" matTooltip="{{subalgorithm.description}}" aria-hidden="false" aria-label="Help icon"
                  fontIcon="help">
                </mat-icon>
              </span>

              <span class="example-list-section">
                <ul>
                  @for (subsubalgorithm of subalgorithm.subalgorithms; track subsubalgorithm; let i = $index) {
                  <li>
                    <mat-checkbox [checked]="subsubalgorithm.completed" (change)="update($event.checked, i)">
                      {{subsubalgorithm.name}}
                    </mat-checkbox>
                    <mat-icon matTooltipClass="customMatToolTip" matTooltip="{{subsubalgorithm.description}}" aria-hidden="false" aria-label="Help icon"
                      fontIcon="help">
                    </mat-icon>
                  </li>
                  }
                </ul>
              </span>

            </li>
            }
          </ul>
        </span>
      </section>

      <mat-card appearance="outlined">
        <mat-card-content>Hyper-Parameters Optimization</mat-card-content>
      </mat-card>
      <input type="file" #fileInput (change)="onFileSelected($event)" style="display: none;">
      <button mat-raised-button color="primary" (click)="fileInput.click()">Choose a file</button>
      <mat-icon matTooltip="A compliant HPO model." aria-hidden="false" aria-label="Help icon"
        fontIcon="help"></mat-icon>
      <mat-checkbox [checked]="automatedHPO" (change)="update($event.checked)">
        Automated HPO
      </mat-checkbox>

      <mat-card appearance="outlined">
        <mat-card-content>Simulation model overview</mat-card-content>
      </mat-card>
      <ngx-monaco-editor [options]="editorOptions" [(ngModel)]="envSimModel"></ngx-monaco-editor>

    </mat-step>

    <mat-step label="Running">
      <mat-card appearance="outlined">
        <mat-card-content>Running solving</mat-card-content>
      </mat-card>
      <ngx-monaco-editor [options]="editorOptions" [(ngModel)]="runningOutput"></ngx-monaco-editor>
    </mat-step>

    <mat-step label="Ouput">
      <button mat-raised-button color="primary">Get trained policies as .pth files</button>
      <button mat-raised-button color="primary">Get statistics files</button>
      <mat-card appearance="outlined">
        <mat-card-content>Statistical results overview</mat-card-content>
      </mat-card>
      <ngx-monaco-editor [options]="editorOptions" [(ngModel)]="solvingOutput"></ngx-monaco-editor>
    </mat-step>

  </mat-stepper>

</mat-card>