<h5>Cyber Multi-Agent System Development Environment (CybMASDE)</h5>
<div mat-dialog-content class="about-dialog-container">
    <div class="about-dialog-image">
        <img src="../../assets/favicon.png" alt="Logo CybMASDE" />
    </div>
    <div class="about-dialog-text">
        <p>CybMASDE is an assisted development software for Multi-Agent Systems, particularly for Cyberdefense.</p>
        <br>
        <p><b>Author</b>: Julien Soulé</p>
        <p><b>Contact</b>: <a href="mailto:julien.soule@lcis.grenoble-inp.fr"> julien.soule&#64;lcis.grenoble-inp.fr
            </a></p>
    </div>
</div>